<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head th:replace="base :: Mena">
    <meta charset="UTF-8" />
    <title>Title</title>
</head>
<body>
<div class="container">
    <div class="jumbotron">

    <nav class="navbar navbar-default" th:replace="base::navi"> </nav>

    <table class="table table-hover">

        <tr>
            <th>Street</th>
            <th>City</th>
            <th>State</th>
            <th>ZIP Code</th>
            <th>Bath</th>
            <th>Kitchen</th>
            <th>Remark</th>
            <th>Price</th>
            <th>Posted Date</th>

        </tr>

        <div th:each="loopin : ${newValue}">
            <tr>
                <td th:text = "${loopin.street}"></td>
                <td th:text = "${loopin.city}"></td>
                <td th:text = "${loopin.state}"></td>
                <td th:text = "${loopin.zipCode}"></td>
                <td th:text = "${loopin.bath}"></td>
                <td th:text = "${loopin.kitchen}"></td>
                <td th:text = "${loopin.remark}"></td>
                <td th:text = "${loopin.price}"></td>
                <td th:text = "${#dates.format(loopin.date, 'MMM-dd-yyyy')}"></td>

                <!--<td th:text = "${#dates.format(mylink.date, 'MMM-dd-yyyy')}"></td>  #dates.format(sprint.releaseDate, 'dd-MMM-yyyy')-->
            </tr>
        </div>
        <div th:each="loopin : ${employerSeeker}">
            <tr>
                <td th:text = "${loopin.title}"></td>
                <td th:text = "${loopin.employer}"></td>
                <td th:text = "${loopin.salary}"></td>
                <td th:text = "${loopin.description}"></td>
                <td th:text = "${loopin.skills}"></td>
                <td th:text = "${loopin.postedBy}"></td>
                <td th:text = "${#dates.format(loopin.date, 'MMM-dd-yyyy')}"></td>

                <!--<td th:text = "${#dates.format(mylink.date, 'MMM-dd-yyyy')}"></td>  #dates.format(sprint.releaseDate, 'dd-MMM-yyyy')-->
            </tr>
        </div>

    </table>
            <div class="col-xs-4">
            <form action="/jobseeker">
                <button type="submit" class="btn btn-default">Search Again</button>
            </form>
            </div>
            <div class="col-xs-4">
            <form action="/education">
                <button type="submit" class="btn btn-default">Build Profile</button>
            </form>
            </div>
        <div class="col-xs-4">
            <form action="/">
                <button type="submit" class="btn btn-default">home</button>
            </form>
        </div>
        </div>
    </div>
</body>
</html>