<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head th:replace="base :: Mena">
    <meta charset="UTF-8" />
    <title>Title</title>
</head>
<body>
<div class="container">
    <div class="jumbotron">

        <nav class="navbar navbar-default" th:replace="base::navi"> </nav>
        <table>
        <tr><h2 style="color:brown; font-family: 'Footlight MT Light'" align="center">Search by State or Another ZIP</h2></tr>
            <tr><form th:action="@{/searchstate}" th:object="${customer}"  method="post" >

            <td><div class="col-md-4"><h4 style="color:brown; font-family: 'Footlight MT Light'">State</h4></div></td>
            <td><input type="text" th:field="*{state}" id="state" class="form-control" placeholder="Enter 2 Character State" /></td>
                <td><button type="submit" class="btn btn-primary">Search</button></td>
        </form></tr>

            <tr>
        <form th:action="@{/searchzip}" th:object="${customer}"  method="post" >

            <td><div class="col-md-4"><h4 style="color:brown; font-family: 'Footlight MT Light'">ZIP Code</h4></div></td>
            <td><input type="text" th:field="*{zip}" id="zip" class="form-control" placeholder="ZIP Code" /></td>
           <td><button type="submit" class="btn btn-primary">Search</button></td>
        </form>
            </tr>
        </table>

        <table class="table table-hover">

            <tr>
                <th>Street</th>
                <th>City</th>
                <th>State</th>
                <th>ZIP Code</th>
                <th>Email</th>
                <th>Owner</th>

            </tr>

            <tr th:each="loopin : ${customerList}">

                    <td><h5 style="color:brown; font-family: Tahoma" align="left"  th:text = "${loopin.street}"></h5></td>
                <td><h5 style="color:brown; font-family: Tahoma" align="left"  th:text = "${loopin.city}"></h5></td>
                <td><h5 style="color:brown; font-family: Tahoma" align="left"  th:text = "${loopin.state}"></h5></td>
                <td><h5 style="color:brown; font-family: Tahoma" align="left"  th:text = "${loopin.zip}"></h5></td>
                <td><h5 style="color:brown; font-family: Tahoma" align="left"  th:text = "${loopin.email}"></h5></td>
                <td><h5 style="color:brown; font-family: Tahoma" align="left"  th:text = "${loopin.fullname}"></h5></td>
                <td>
                  <button type="button" class="btn btn-primary">Email</button></a>
                </td>
                    <!--<td th:text = "${#dates.format(mylink.date, 'MMM-dd-yyyy')}"></td>  #dates.format(sprint.releaseDate, 'dd-MMM-yyyy')-->
            </tr>

        </table>

    </div>
</div>
</body>
</html>